/*  
######################################
########### Header Alerts ############
######################################
*/

/**
 * Global HTML
 */
#wrapper, #main-header {
    -webkit-transition: all ease-in 150ms;
    -moz-transition: all ease-in 150ms;
    transition: all ease-in 150ms;
}

.no-alert-transition #si-header-alerts, 
.no-alert-transition #main-header {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.logged-in #si-header-alerts {
    margin-top: 32px;
}

/**
 * Main Alert Wrapper
 */
#si-header-alerts {
    background: #46B5D2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    line-height: 1em;
    color: #fff;
    /* overflow: hidden; */
    -webkit-transition: all ease-in 150ms;
    -moz-transition: all ease-in 150ms;
    transition: all ease-in 150ms;
    /* max-height: 0; */
    z-index: 9999;
    border-bottom: 1px solid #ccc;
}

#si-header-alerts.loaded {
    max-height: 50px;
}

#si-header-alerts.multiple #alerts-slider {
    padding: 0 140px 0 0;
}

#si-header-alerts-clear {
    content: "";
    display: block;
    position: relative;
    height: 50px;
    z-index: 9998;
}

/**
 * Alert Inner & Text
 */
#si-header-alerts .alerts-inner {
    position: relative;
    height: 50px;
}

#si-header-alerts .alert {
    /*display: none;*/
    padding: 0;
    margin: 0;
    border: 0;
    padding-right: 10px;
}

#si-header-alerts .alert-inner a:hover {
    background: #2D9CB9;
}

#si-header-alerts.danger {
    background: #e53935;
}

#si-header-alerts.danger .alert-inner a:hover {
    background: #CC201C;
}

#si-header-alerts.warning {
    background: #f3bf12;
}

#si-header-alerts.warning .alert-inner a:hover {
    background: #dbac11;
}

#si-header-alerts .alert-inner a {
    display: block;
    text-decoration: none;
    max-height: 49px;
}

#si-header-alerts .alert-text {
    display: block;
    padding: 15px 23px 15px 15px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#si-header-alerts .alert-text svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-right: 10px;
    margin-top: -4px;
}

#si-header-alerts a {
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

#si-header-alerts .read-more {
    padding-left: 0;
    text-transform: uppercase;
}

/**
 * Alert Pager 
 */
#si-header-alerts #alerts-pager {
    display: none;
    /*background: #0578B3;*/
    position: absolute;
    zoom: 1;
    text-align: center;
    right: 80px;
    bottom: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    z-index: 99;
}

#si-header-alerts.multiple #alerts-pager {
    display: block;
}

#si-header-alerts .slash {
    padding: 0 2px;
}

/**
 * Flex Navigation
 */
#si-header-alerts .flex-prev, 
#si-header-alerts .flex-next {
    position: absolute;
    /*background: #0578B3;*/
    right: 40px;
    top: 50%;
    left: auto;
    margin-top: -20px;
    bottom: 0;
    height: 50px;
    width: 40px;
    line-height: 50px;
    font-size: 0;
    text-align: center;
    color: transparent;
    z-index: 9;
    /*-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;*/
}

#si-header-alerts .flex-prev:before, 
#si-header-alerts .flex-next:before {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    /*font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    transform: translate(0, 0);
    content: url('../images/angle-left.svg');
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 24px;
    height: 24px;
}

#si-header-alerts .flex-next:before {
    content: url('../images/angle-right.svg');
}

#si-header-alerts .flex-next {
    right: 0;
}

#si-header-alerts .flex-disabled {
    display: none;
}

#si-header-alerts .flex-control-nav {
    display: none;
}

#si-header-alerts .flex-direction-nav a {
    text-indent: 0;
    opacity: 1!important;
}

/*  
######################################
############ Header View #############
######################################
*/

#si-header-alerts .alert-view header {
    padding: 10px 0;
}


/**
 * Old Css
 */

 /*
.alert-active #main-header {
    margin-top: 50px;
}

.alert-active #main-header.scrolled {
    margin-top: 0;
}

.menu-active.alert-active #main-header {
    top: 0;
}*/

/* 

#si-header-alerts .AlertsPane {
    min-height: 0 !important;
}
*/